* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  width: 100%;
}

body button {
  width: 200px;
  height: 50px;
  border-radius: 0.5rem;
  border: none;
}
body.dark {
  background-color: black;
}
body.dark button {
  background-color: white;
  color: black;
}
body.light {
  background-color: white;
}
body.light button {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}